[Unit]
Description=ETS2/ATS radio transcoder

[Service]
Type=simple
User=deck
Group=deck
KillSignal=SIGINT
WorkingDirectory=/home/deck/etsradiotc
ExecStart=/home/deck/etsradiotc/server.py --port 48042

[Install]
WantedBy=multi-user.target